.form-item {
    padding-bottom: 12px;
}

input::placeholder {
    color: #b3b3b3;
    opacity: 1;
}

.valid-password {
    color: #2aa745;
}

.invalid-register {
    color: #e81212 !important;
}

.badLogin {
    margin-top: 10px;
}