.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(min(80vh - 70px, 1028px));
    overflow-y: auto;
    max-width: 1090px;
    max-height: 800px;
    box-sizing: border-box;
}

.profile-image-update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.profile-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;    
}

.profile-picture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;    
}

.email-update-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;     
}

.email-form, .email-place, .form-item, .email-form-button, .username-update-container, .username-form, .username-place, .username-form-button, .password-update-container, .password-form, .password-place, .password-form-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;     
}

.list-password {
    padding-top: 5px;
    padding-left: 10px;
    list-style: none;
}

.button-send-profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
}

.profile-input-password {
    position: relative;
    width: 25%;
}

@media (orientation: portrait) and (max-width: 900px)
{
    .profile-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: calc(min(92vh - 70px, 1028px));
        overflow-y: auto;
        max-width: 1090px;
        box-sizing: border-box;
    }

    .profile-form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;    
    }

    .button-send-profile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 272.5px;
    }

    .profile-input-password {
        position: relative;
        width: 72%;
    }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
	.message-change-orientation {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
	}

	.profile-container {
		display: none;
	}
}